Creamos la sesión:

In [3]:
from pyspark.sql import SparkSession


# Create SparkSession
spark = SparkSession.builder \
          .config("spark.jars", "/opt/workspace/mysql-connector-j-8.0.33.jar") \
          .appName('SparkByExamples.com') \
          .getOrCreate()

Ahora hacemos la conexión, donde pone "Chinook" es el nombre que tengáis vosotros para la base de datos.
La ip de conexión que he puesto es la de la máquina virtual en Virtualbox, donde tengo instalado Docker. Atentos a la vuestra.
Atención al nombre del driver.
Cargamos para probar la tabla Invoice entera.
La conexión no está definida como paralelizable. Así que uno de los workers se conectará y obtendrá los datos y generará el DataFrame

In [5]:
jdbcDF = spark.read \
  .format("jdbc") \
  .option("url", "jdbc:mysql://192.168.56.30:3306/Chinook") \
  .option("user", "root") \
  .option("password", "mysql") \
  .option("driver", "com.mysql.cj.jdbc.Driver") \
  .option("dbtable","Invoice") \
  .load()

Mostramos el schema tal y como lo ve el driver y Spark. Para ver si cambian los tipos de datos de la bbdd al DataFrame. Ojo a esto en casos reales.

In [6]:
jdbcDF.printSchema()

root
 |-- InvoiceId: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- BillingAddress: string (nullable = true)
 |-- BillingCity: string (nullable = true)
 |-- BillingState: string (nullable = true)
 |-- BillingCountry: string (nullable = true)
 |-- BillingPostalCode: string (nullable = true)
 |-- Total: decimal(10,2) (nullable = true)

Mostramos el contenido del DataFrame.

In [7]:
jdbcDF.show(n=40)

+---------+----------+-------------------+--------------------+--------------+------------+--------------+-----------------+-----+
|InvoiceId|CustomerId|        InvoiceDate|      BillingAddress|   BillingCity|BillingState|BillingCountry|BillingPostalCode|Total|
+---------+----------+-------------------+--------------------+--------------+------------+--------------+-----------------+-----+
|        1|         2|2009-01-01 00:00:00|Theodor-Heuss-Str...|     Stuttgart|        null|       Germany|            70174| 1.98|
|        2|         4|2009-01-02 00:00:00|    Ullevålsveien 14|          Oslo|        null|        Norway|             0171| 3.96|
|        3|         8|2009-01-03 00:00:00|     Grétrystraat 63|      Brussels|        null|       Belgium|             1000| 5.94|
|        4|        14|2009-01-06 00:00:00|      8210 111 ST NW|      Edmonton|          AB|        Canada|          T6G 2C7| 8.91|
|        5|        23|2009-01-11 00:00:00|     69 Salem Street|        Boston|          MA|           USA|             2113|13.86|
|        6|        37|2009-01-19 00:00:00|    Berger Straße 10|     Frankfurt|        null|       Germany|            60316| 0.99|
|        7|        38|2009-02-01 00:00:00| Barbarossastraße 19|        Berlin|        null|       Germany|            10779| 1.98|
|        8|        40|2009-02-01 00:00:00|      8, Rue Hanovre|         Paris|        null|        France|            75002| 1.98|
|        9|        42|2009-02-02 00:00:00|9, Place Louis Ba...|      Bordeaux|        null|        France|            33000| 3.96|
|       10|        46|2009-02-03 00:00:00|    3 Chatham Street|        Dublin|      Dublin|       Ireland|             null| 5.94|
|       11|        52|2009-02-06 00:00:00|   202 Hoxton Street|        London|        null|United Kingdom|           N1 5LH| 8.91|
|       12|         2|2009-02-11 00:00:00|Theodor-Heuss-Str...|     Stuttgart|        null|       Germany|            70174|13.86|
|       13|        16|2009-02-19 00:00:00|1600 Amphitheatre...| Mountain View|          CA|           USA|       94043-1351| 0.99|
|       14|        17|2009-03-04 00:00:00|     1 Microsoft Way|       Redmond|          WA|           USA|       98052-8300| 1.98|
|       15|        19|2009-03-04 00:00:00|     1 Infinite Loop|     Cupertino|          CA|           USA|            95014| 1.98|
|       16|        21|2009-03-05 00:00:00|    801 W 4th Street|          Reno|          NV|           USA|            89503| 3.96|
|       17|        25|2009-03-06 00:00:00|319 N. Frances St...|       Madison|          WI|           USA|            53703| 5.94|
|       18|        31|2009-03-09 00:00:00|194A Chain Lake D...|       Halifax|          NS|        Canada|          B3S 1C5| 8.91|
|       19|        40|2009-03-14 00:00:00|      8, Rue Hanovre|         Paris|        null|        France|            75002|13.86|
|       20|        54|2009-03-22 00:00:00|      110 Raeburn Pl|    Edinburgh |        null|United Kingdom|          EH4 1HH| 0.99|
|       21|        55|2009-04-04 00:00:00|   421 Bourke Street|        Sidney|         NSW|     Australia|             2010| 1.98|
|       22|        57|2009-04-04 00:00:00|     Calle Lira, 198|      Santiago|        null|         Chile|             null| 1.98|
|       23|        59|2009-04-05 00:00:00|   3,Raj Bhavan Road|     Bangalore|        null|         India|           560001| 3.96|
|       24|         4|2009-04-06 00:00:00|    Ullevålsveien 14|          Oslo|        null|        Norway|             0171| 5.94|
|       25|        10|2009-04-09 00:00:00|Rua Dr. Falcão Fi...|     São Paulo|          SP|        Brazil|        01007-010| 8.91|
|       26|        19|2009-04-14 00:00:00|     1 Infinite Loop|     Cupertino|          CA|           USA|            95014|13.86|
|       27|        33|2009-04-22 00:00:00|      5112 48 Street|   Yellowknife|          NT|        Canada|          X1A 1N6| 0.99|
|       28|        34|2009-05-05 00:00:00|  Rua da Assunção 53|        Lisbon|        null|      Portugal|             null| 1.98|
|       29|        36|2009-05-05 00:00:00|  Tauentzienstraße 8|        Berlin|        null|       Germany|            10789| 1.98|
|       30|        38|2009-05-06 00:00:00| Barbarossastraße 19|        Berlin|        null|       Germany|            10779| 3.96|
|       31|        42|2009-05-07 00:00:00|9, Place Louis Ba...|      Bordeaux|        null|        France|            33000| 5.94|
|       32|        48|2009-05-10 00:00:00|Lijnbaansgracht 1...|     Amsterdam|          VV|   Netherlands|             1016| 8.91|
|       33|        57|2009-05-15 00:00:00|     Calle Lira, 198|      Santiago|        null|         Chile|             null|13.86|
|       34|        12|2009-05-23 00:00:00|    Praça Pio X, 119|Rio de Janeiro|          RJ|        Brazil|        20040-020| 0.99|
|       35|        13|2009-06-05 00:00:00|        Qe 7 Bloco G|      Brasília|          DF|        Brazil|        71020-677| 1.98|
|       36|        15|2009-06-05 00:00:00| 700 W Pender Street|     Vancouver|          BC|        Canada|          V6C 1G8| 1.98|
|       37|        17|2009-06-06 00:00:00|     1 Microsoft Way|       Redmond|          WA|           USA|       98052-8300| 3.96|
|       38|        21|2009-06-07 00:00:00|    801 W 4th Street|          Reno|          NV|           USA|            89503| 5.94|
|       39|        27|2009-06-10 00:00:00|     1033 N Park Ave|        Tucson|          AZ|           USA|            85719| 8.91|
|       40|        36|2009-06-15 00:00:00|  Tauentzienstraße 8|        Berlin|        null|       Germany|            10789|13.86|
+---------+----------+-------------------+--------------------+--------------+------------+--------------+-----------------+-----+
only showing top 40 rows